@reference "@styles/global.css";

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-4);
  padding: var(--spacing-6);
}

.layout {
  @apply grid grid-rows-2 grid-cols-1;
  align-items: flex-start;
  justify-content: center;
  gap: var(--spacing-6);
  width: 100%;
}

.inferiorEstoques {
  @apply grid grid-cols-2 grid-rows-1;
}
